html {
  --fg-color: #424242;
  --bg-color: #efe9da;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: var(--fg-color);
  background: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  html {
    --fg-color: #f7f7f7;
    --bg-color: #424242;

    color: var(--fg-color);
    background: var(--bg-color);
  }

  button {
    color: #ffffff;
  }
}

body {
  margin: 0;
}

.content {
  display: flex;
  line-height: 1.1;
  flex-direction: column;
  align-items: center;
}