.jianpu-staff {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  padding: 0 20px;
  font-size: 1.2rem;
  font-weight: 500;
  outline: none;
}

.staff-editor-cursor {
  position: absolute;
  width: 0.1em;
  height: 2em;
  top: 0.5em;
  background-color: var(--fg-color);
  animation: blink 1s infinite;
  margin-left: -0.4em;
}

.staff-editor-cursor.cursor-at-last {
  position: relative;
  top: 0;
}

.staff-editor-slur-delimiter-cursor {
  position: absolute;
  width: 0.2em;
  height: 0.8em;
  left: 0.3em;
  top: 0em;
  background-color: var(--fg-color);
  animation: blink 1s infinite;
}

.staff-editor-slur-delimiter-cursor.slur-end-cursor {
  left: -0.7em;
}

.staff-editor-slur-delimiter-cursor.cursor-at-last {
  position: relative;
  top: -1em;
}

.staff-editor-slur-delimiter-cursor.slur-end-cursor.cursor-at-last {
  left: -0.4em;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.jianpu-note {
  position: relative;
  min-width: 1em;
  height: 3em;
}

.jianpu-note.thin-note {
  min-width: 0.6em;
}

.jianpu-note.zero-width-note {
  min-width: 0em;
}

.jianpu-pitch-note {
  position: relative;
  width: 1em;
  height: 100%;
}

.jianpu-pitch-note-pitch-note {
  position: absolute;
  top: 1em;
  left: 0;
  height: 1em;
}

.jianpu-pitch-note-pitch-note-accidental {
  display: inline-block;
  position: absolute;
  left: -0.6em;
  bottom: 0.2em;
}

.jianpu-pitch-note-pitch-note-accidental.accidental-sharp {
  left: -0.4em;
}

.jianpu-pitch-note-pitch-note-name {
  display: inline-block;
  position: absolute;
  bottom: 0;
}

.jianpu-pitch-note-pitch-octave {
  position: absolute;
  left: 0.1em;
}

.jianpu-pitch-note-pitch-halfline {
  position: absolute;
  left: -0.15em;
  width: 0.8em;
  height: 0.1em;
  background-color: var(--fg-color);
}

.jianpu-pitch-note-pitch-halfline.has-accidental {
  left: -0.15em;
  width: 0.8em;
}

.jianpu-rest {
  position: absolute;
  top: 0.9em;
  left: 0;
}

.jianpu-bar {
  position: absolute;
  top: 0.9rem;
  left: 0.3em;
  width: 0.05em;
  height: 1.5em;
  background-color: var(--fg-color);
}

.jianpu-bar.repeat::before {
  content: ':';
  position: absolute;
  top: 0rem;
  left: -0.5rem;
  font-size: 1.4rem;
}

.jianpu-bar.final::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0.2rem;
  width: 0.15em;
  height: 1.5em;
  background-color: var(--fg-color);
}

.jianpu-dot {
  position: absolute;
  top: 1em;
  left: -0.2em;
}

.jianpu-dash {
  position: absolute;
  top: 0.5em;
  left: 0;
}

.jianpu-text-note {
  position: relative;
  top: 1em;
}

.jianpu-slur {
  position: absolute;
  top: -0.3em;
  left: -0.26em;
}

.jianpu-slur-continue {
  left: -0.27em;
}

.jianpu-slur-end {
  left: -0.27em;
}

.jianpu-slur>svg {
  stroke: var(--fg-color);
  stroke-width: 0.5px;
}